Welcome to Oak Project Management, #{@user.username}

You have successfully signed up to Oak Project Management,
your username = #{@user.username}

To log in to the site, just follow this link: #{@url}

Thanks for joining and have a greate day!